
@{
    Layout = "~/Views/Shared/_LayoutFull.cshtml";
    ViewBag.Title = "Register";
}

<section class="space--xs imageblock switchable feature-large height-100">
    <div class="imageblock__content col-lg-6 col-md-4 pos-right">
        <div class="background-image-holder"> <img alt="image" src="/img/landing-5.jpg"> </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-7">
                <h2>Register an account</h2>
                <p class="lead"> SE Shopping is the most largest marketplace in the world!! (world of class room)</p>
                <hr class="short">
                <form>
                    <div class="row">
                        <div class="col-12"> <input id="memberName" type="text" name="memberName" placeholder="Full name" required> </div>
                        <div class="col-12"> <input id="memberTel" type="tel" name="memberTel" placeholder="Telephone number" required> </div>
                        <div class="col-12"> <input id="email" type="email" name="Email Address" placeholder="Email Address" required> </div>
                        <div class="col-12"> <input id="password" type="password" name="Password" placeholder="Password" required> </div>
                        <div class="col-12"> <input id="repassword" type="password" name="rePassword" placeholder="Re Password" required> </div>
                        <div class="col-12"> <textarea id="address" placeholder="Enter your shipping address..." required></textarea> </div>
                        <div class="col-12"> <button id="registerBtn" type="submit" class="btn btn--primary">Create Account</button> </div>
                        <div class="col-12"> <span class="type--fine-print">By signing up, you agree to the <a href="#">Terms of Service</a></span> </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
@section scripts
{
    <script>

        $("#registerBtn").click(function (e) {
            e.preventDefault();

            var email = $("#email").val();
            var password = $("#password").val();
            var repassword = $("#repassword").val();
            var memberName = $("#memberName").val();
            var memberTel = $("#memberTel").val();
            var address = $("#address").val();
            if (validateEmail(email) && password.length > 5 && password == repassword) {
                $.post("/member/register",
                    {
                        email: email,
                        password: password,
                        memberName: memberName,
                        memberTel: memberTel,
                        address: address,
                    }).done(function (data) {
                        if (!data.status) {
                            alert("Register fail !!")
                        } else {
                            alert("Register Successful !!")
                            window.location.href = "/";
                        }
                        console.log(data);
                    })
            } else {
                alert("Invalid input")
            }
        })
        function validateEmail(email) {
            var re = /^[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?$/;
            return re.test(String(email).toLowerCase());
        }
    </script>

}